/* Reset CSS */
body,
h1,
h2,
p,
ul,
li,
a {
  margin: 5px;
  padding: 5px;
  border: 5px;
}

/* Global Styles */
body {
  font-family: 'Itim', sans-serif;
  background-color: #eee2df;
}

header {
  background-color: #c89f9c;
  color: #fff;
  padding: 35px 0;
  text-align: center;
  border-radius: 10px;
}

header h1 {
  font-size: 35px;
}

/* เปลี่ยนขนาดแบบอักษรในเมนู */
.menu {
    font-size: 20px; /* เปลี่ยนขนาดแบบอักษรเป็น 20px หรือขนาดที่คุณต้องการ */
}


nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav ul li:hover {
  background-color: #b67f7b; /* เปลี่ยนสีพื้นหลังเมื่อ hover */
  padding: 5px 5px;
  border-radius: 10px;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 คอลัมน์ที่มีขนาดเท่ากัน */
  gap: 20px; /* ระยะห่างระหว่างกล่องบทความ */
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

article {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

article h2 {
  font-size: 22px;
}

article p {
  font-size: 18px;
  line-height: 1.5;
}

article a {
  display: inline-block;
  text-decoration: none;
  background-color: #c89f9c;
  color: #fff;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 10px;
}

article a:hover {
    background-color: #b67f7b;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #c89f9c;
  color: #fff;
  border-radius: 10px;
}
